$lb-text-color-darkblue: #2275dc !default;
$lb-text-color-blue: #9cc8ff !default;
$lb-text-color-white: white !default;
$lb-background-color-yellow: #ffee58 !default;

$lb-text-color-brown: #715c0f !default;

